body {
  margin: 0;
  padding: 0;
  background-color: #C7C7C7;
}

header {
  text-align: center;
  background-color: #8D6952;
  color: #BFB07D;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: solid 2px #8D4645;
  h1 {
    font-weight: lighter;
    font-family: inherit;
  }
}

a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 275px;
  display: inline-block;
  margin: 1%;
}

.myAlbums {
  width: 100%;
  div {
  vertical-align: top;
  width: 28%;
  height: 300px;
  margin: 2%;
  display: inline-block;
  }
}

.album1 {
  overflow: hidden;
}

.hidden {
  display: none;
}

.leftMenu {
  width: 100%;
  height: 100%;
  position: fixed;
}

.album1 img {
  width: 100%;
}

.photosView1, .photosView2, .photosView3, .photosView4, .photosView5, .photosView6 {
  background-color: #C7C7C7;
  width: 100%;
  height: 100%;
  button {
    display: block;
    margin: 1% 0;
  }
  .albumButtons {
    background-color: #8E6950;
    width: 15%;
  }
}
.allAlbums {
  display: block;
}
